<!--
  Name:  
  Email: 
-->

<!-- views/q3a-display.ejs (Modify this file) -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Q3A Display</title>
</head>
<body>

  <!-- TODO:
    If no transports were selected:
      Show: <h1>Please select a transport option</h1>
    Else:
      Show a table of images for the selected transports.
      Images are in /img/, e.g. /img/bus.png
  -->

</body>
</html>
