<!--
  Name:  
  Email: 
-->

<!-- views/q3b-one.ejs (Modify this file) -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Q3B One Page</title>
</head>
<body>

  <!-- TODO:
    Always generate the form dynamically from transports[].
    Form submits via POST to /q3b-one (self-post).

    If selectedIds is empty:
      Show: <h1>Please select a transport option</h1>

    If selectedIds has 1 or more:
      Show: <h1>You selected X transport option(s)</h1>
      Show a table of selected images.
  -->

</body>
</html>
