<!DOCTYPE html>
<html>
    <head>
        <title>Edit Record</title>
        
    </head>
    <body>
        <h1>Update Food Item</h1>
    
        <form action='/edit' method='POST'>
         
        </form>

        <br><a href="/">Back to Home</a>
    </body> 
</html>