<!DOCTYPE html>
<html lang="en">
<head>

    <title>Food Menu</title>
</head>
<body>
<h1>Food Menu at SCIS1 KIOSK</h1>

     
        <table border="1">
            <tr>
                <th>SKU</th>
                <th>Desciption</th>
                <th>Category</th>
                <th>Price</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>
             
            
         </table>

 <h2>Add New Food Item</h2>
<form action="/create" method="post" >

</form> 

</body>
</html>