<!DOCTYPE html>
<html lang="en">
<head>

    <title>Employment Stats</title>
</head>
<body>
<h1>Graduate Employment Survey Result - NUS, NTU, SMU</h1>

<h3>Summary Statistic</h3><br>


</body>
</html>