<!DOCTYPE html>
<html lang="en">
<head>

    <title>Employment Stats</title>
</head>
<body>
<h1>Graduate Employment Survey Result - NUS, NTU, SMU </h1>

<h3>Search employment satistic by University:</h3><br>
<form action="/search" method="post" >
<strong>University : </strong><input type="text" name="uniName"><br>
<br>
<button type="submit">Filter</button><button type="reset" onclick="javascript:window.location.href='/'">Reset</button>
</form> <br>


</body>
</html>