<!DOCTYPE html>
<html>
    <head>
        <title>Update Employment Info</title>
        
    </head>
    <body>
        <h3>Create a new record</h3>
        
    
        <br><br><hr>
        <h3>Update employment_rate and salary</h3>

  
        <br><br><hr>
    
        <h3>Delete a record</h3>


   

    </body> 
</html>