<!-- 
  Name: Marcus Chiam Hao Yi
  Email: marcuschiam.2025
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
</head>
<body>
    <h1>Step 3: Your Selected Courses and Date/Time Slots</h1>

    <h3>You selected</h3>

    <!-- Add/Modify Code Here -->
   

    <ul>
       
        <li>

        </li>

    </ul>

  
    <a href="/courses">Start Again!</a>
    

    
</body>
</html>