<!-- Week 9 - Extra Exercises Solutions - Question 10 - header.ejs -->
<!-- ---------------------------------------------------------------->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Songs Library</title>

</head>
<body>
  <h2>🎵 Songs Library 🎵</h2>

  <nav>
    <a href="/">Home</a> | 
    <a href="/songs-library">All Songs</a> | 
    <a href="/search-songs">Search</a> | 
    <a href="/add-song">Add</a> | 
    <a href="/edit-song">Edit</a> | 
    <a href="/delete-song">Delete</a> | 
  </nav>

  <hr>
</body>
</html>